<h1>Just a little something about me:</h1>
<p>I am a competitive Super Smash Bros. for Wii U player trying to push myself to the next level, as well as being in JHS Ballroom Company and owning JHS Smash Club.</p>
