<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p>I am a competitive Super Smash Bros. for Wii U player, I am a solo Lucina main while holding the title of best Lucina in the state of Utah. My motivation to play comes from my obsession with Lucina, so I drove myself to get better as her.</p>

    <p>As side hobbies I like to do Ballroom dancing and play FFXIV Online(Exodus).</p>
  </div>
</div>